@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), 
        url('latoregular.woff2') format('woff2'), 
        url('latoregular.woff') format('woff'), 
        url('latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'), 
    url('latolight.woff2') format('woff2'), 
    url('latolight.woff') format('woff'), 
    url('latolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'), 
    url('latobold.woff2') format('woff2'), 
    url('latobold.woff') format('woff'), 
    url('latobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}