//Fonts
$font_title: 'Playfair Display', serif;
$font_text: 'Lato', sans-serif;

//Colors
$color_text_light: #262A3F;
$color_text_dark: #FFFFFF;
$color_title_colored_light: #85BBB1;
$color_title_colored_dark: #689FF2;

$color_secondary_dark: #515773;
$color_secondary: #E4E4E4;
$color_btn_light: #F1897B;
$color_btn_dark: #53F3CD;

//Device
$laptop_width: 992px;
$tablet_width: 768px;
$mobile_width: 576px;

$max_width_screen: 1280;



